<span class="icon-close" data-id="close-about"></span>
<div class="about-text">
  <p>MapGruff combines <a href="https://data.cityofchicago.org/">Chicago Open Data</a> with the <a href="https://developers.google.com/maps/">Google Maps API</a> in order to visualize criminal incidents occuring within the city. You may change the amount and types of incidents by using the menu at the top of the page.</p>
  <p>The city of Chicago publishes crime data every few days. MapGruff is not an up-to-the-minute representation of incidents in the city.</p>
  <p>All addresses are approximate and based on coordinates provided by the city of Chicago. Occasionally the Streetview panorama will display the inside of businesses, restaurants, or buildings. This does not mean that the incident necessarily took place at those locations.</p>
  <p>MapGruff has no relation to the <a href="http://en.wikipedia.org/wiki/McGruff_the_Crime_Dog">anthropomorphic cartoon bloodhound</a>, its creators, or campaigns. Data is presented as provided by the city of Chicago. Questions, concerns, or problems? Notify me via <a href="https://twitter.com/_akells">twitter</a>.</p>
</div>
