<ul>
  <li>Violent <img src=<%= violent_icon_url %>></li>
  <li>Property <img src=<%= property_icon_url %>></li>
  <li>Personal <img src=<%= personal_icon_url %>></li>
  <li>Other <img src=<%= other_icon_url %>></li>
</ul>
