<div class="nav">
    <button data-id="city-select" data-city="chicago">Chicago</button>
    <button data-id="city-select" data-city="seattle">Seattle</button>
  <label> Incident Display Count:
    <select data-id="incident-count">
      <option data-count="25">25</option>
      <option data-count="50">50</option>
      <option data-count="100">100</option>
      <option data-count="200" selected="selected">200</option>
      <option data-count="500">500</option>
      <option data-count="1000">1000</option>
    </select>
  </label>
  <label> Incident Type:
    <select data-id="incident-type">
      <option data-incident-type="ALL">All</option>
      <option data-incident-type="VIOLENT">Violent</option>
      <option data-incident-type="PROPERTY">Property</option>
      <option data-incident-type="PERSONAL">Personal</option>
      <option data-incident-type="OTHER">Other</option>
    </select>
  </label>
  <label> Time of Day:
    <select data-id="time-of-day">
      <option data-time-of-day="ALL">All</option>
      <option data-time-of-day="DAY">Day</option>
      <option data-time-of-day="NIGHT">Night</option>
    </select>
  </label>
</div>
<div class="legend">
  <div class="legend-container" data-id="legend-container"></div>
</div>
<div class="flash" data-id="flash"></div>
<div class="sub-container">
  <div class="map-container">
    <div class="map-canvas" data-id="map-canvas"></div>
  </div>
  <div class="info-container" data-id="info-container"></div>
</div>
<div class="below-map">
  <div class="about-button bottom-button" data-id="about-button">
    <a href="http://mapgruff.com/about.html">About</a>
  </div>
  <div class="categories-button bottom-button" data-id="categories-button">Filter Categories</div>
  <div class="categories-container" data-id="categories-container">
    <span class="icon-close" data-id="close-categories"></span>
    <div class="categories-text">
      <h1>Filter By Category</h1>
      <h3>Note: more categories will make the request take longer</h3>
      <h3>For best results, select one or two categories</h3>
    </div>
    <div class="categories-list">
      <ul>
        <% for(var i=0; i < categories.length; i++) { %>
          <li>
          <label><input name="category-checkbox" data-id="category-checkbox" data-category-name="<%= categories[i].raw_name %>" type="checkbox"><%= categories[i].display_name %></label>
          </li>
        <% } %>
      </ul>
      <button data-id="filter-category">Filter</button>
      <button data-id="deselect-all">Deselect All</button>
    </div>
  </div>
</div>
