
/* http://meyerweb.com/eric/tools/css/reset/ 
 *  *    v2.0 | 20110126
 *   *       License: none (public domain)
 *    *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* styles */

body {
  background-image: url('../images/squared_metal.png');
}

.main-title {
  background: #fff;
  box-shadow: 0 0 5px 0 #888888;
  border-radius: 0 0 4px 0;
  color: #cd2026;
}

.main-title h1 {
  display: inline-block;
  margin: 0 0 0 1em;
  padding: 0.1em 0 0.1em 0;
  font-size: 3.9em;
}

.main-title h4 {
  display: inline-block;
  font-size: 1em;
  margin: 0 0 0 1em;
  padding: 0.1em 0 0.1em 0;
}

.arrest-made{
  color: #4040f6;
  display: inline-block;
}

.no-arrest {
  color: #cd2026;
  display: inline-block;
}

.container {
  margin: 30px 0 0 30px;
}

.info-container {
  display: inline-block;
  height: 800px;
  margin: 0 0 0 2%;
  padding: 0 10px 0 10px;
  width: 30%;
  vertical-align: top;
}

.info-view {
  background: #fff;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 4px;
  color: #555;
  font-size: 0.9em;
  padding: 1em;
  height: 97%;
}

.info-content h2, h3 {
  padding: 0.6em 0 0 0;
}

.info-content h2 {
  padding: 0.6em 0 0 0;
}

.info-content h3 {
  padding: 0.6em 0 0 0;
}

.info-content h3 span {
  padding: 0 0.3em 0 0;
}

.map-canvas {
  border: 1px solid black;
  box-shadow: 5px 5px 5px #888888;
  height: 100%;
  width: 100%;
}

.map-container {
  display: inline-block;
  height: 800px;
  width: 60%;
}

.nav {
  background: #fff;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #888888;
  display: inline-block;
  padding: 0.6em;
}

.nav label {
  color: #555;
  font-family: arial;
  font-size: 0.9em;
}

.pano {
  border: 1px solid black;
  height: 500px;
  margin: 1.25em 0 0 0;
  width: 100%;
}

.sub-container {
  font-family: arial;
  margin: 10px 0 0 0;
}

.sub-container h1, h2 {
  font-weight: 800;
  font-size: 170%;
}

.sub-container h3 {
  font-weight: 800;
  font-size: 150%;
}

.flash {
  color: #FF0000;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 150%;
  font-weight: 900;
  margin: 0 0 0 1em;
  text-align: center;
  text-shadow: 1px 1px #800000;
  vertical-align: middle;
}

.bottom-button {
  background: #fff;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #888888;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-size: 0.9em;
  margin: 1em 0.5em 0 0.5em;
  padding: 1em;
}

.bottom-button a {
  color: inherit;
  text-decoration: none;
}


.categories-container {
  background: #fff;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 4px;
  color: #555;
  display: none;
  font-size: 0.9em;
  padding: 1em;
  margin: 1em 0.5em 0 0.5em;
  width: 20%;
}

.categories-text h1 {
  margin: 2em 0 0 0;
}

.legend {
  margin: 0 0 0 3em;
  background: #fff;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 4px;
  color: #555;
  display: inline-block;
  font-family: arial;
  font-size: 0.9em;
  padding: 0.9em;
}

.legend ul li {
  display: inline-block;
  margin: 0 0 0 0.6em;
}

.legend img {
  height: 13px;
  width: 13px;
}

/* about */

.about-box {
  background: #fff;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 4px;
  color: #555;
  font-size: 0.9em;
}

.about-title {
  display: table;
  margin: 0 auto;
  margin-top: 5em;
  padding: 1em;
}

.about-title h1 {
  color: #000;
  font-size: 6em;
}

.about-image {
  display: inline-block;
  margin 0 auto;
}

.about-header {
  color: #555;
  display: inline-block;
  font-family: arial;
  font-size: 1.5em;
  line-height: 1.3em;
  padding: 0 0 1em 0;
}

.about-container {
  padding: 1em;
  display: table;
  margin: 0 auto;
  margin-top: 2em;
  width: 30%;
}

.about-text p {
  color: #555;
  display: inline-block;
  font-family: arial;
  font-size: 1.5em;
  line-height: 1.3em;
  padding: 1em 0 0 0;
}

/* icons */

.icon-close {
  background-repeat: no-repeat;
  background-image: url('../images/close.svg');
  background-size: 15px 15px;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 15px;
  width: 15px;
}

/* info view icons */

.info-view-icon {
  background-repeat: no-repeat;
  background-size: 35px 35px;
  display: inline-block;
  height: 35px;
  width: 35px;
}

.icon-sun { background-image: url('../images/sun.svg'); }

.icon-moon { background-image: url('../images/moon.svg'); }

.icon-cuffs { background-image: url('../images/handcuffs.svg'); }

.icon-warning { background-image: url('../images/warning.svg'); }

/* location icons */

.icon-bank { background-image: url('../images/bank.svg'); }

.icon-bar { background-image: url('../images/bar.svg'); }

.icon-bus { background-image: url('../images/bus.svg'); }

.icon-business { background-image: url('../images/store.svg'); }

.icon-home { background-image: url('../images/home.svg'); }

.icon-hospital { background-image: url('../images/hospital.svg'); }

.icon-hotel { background-image: url('../images/hotel.svg'); }

.icon-park { background-image: url('../images/park.svg'); }

.icon-restaurant { background-image: url('../images/restaurant.svg'); }

.icon-school { background-image: url('../images/school.svg'); }

.icon-street { background-image: url('../images/road.svg'); }

.icon-taxi { background-image: url('../images/taxi.svg'); }

.icon-train { background-image: url('../images/train.svg'); }

.icon-other { background-image: url('../images/other-location.svg'); }
