.map-container {
  display: inline-block;
  height: 800px;
  width: 70%;
}

.info-container {
  display: inline-block;
  height: 800px;
  width: 29%;
}
.map-canvas {
  height: 100%;
  width: 100%;
}

.no-arrest {
  color: red;
}

.arrest-made{
  color: blue;
}
