.map-container {
  display: inline-block;
  height: 800px;
  width: 60%;
}

.info-container {
  border: 1px solid black;
  display: inline-block;
  height: 800px;
  margin: 0 0 0 2%;
  width: 30%;
  vertical-align: top;
}
.map-canvas {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

.no-arrest {
  color: red;
}

.arrest-made{
  color: blue;
}
